::selection {
    color: none;
    background: none;
}


input[type="button"] {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 5px;
    margin-bottom: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #DC143C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
input[type="button"]:hover {
    background-color: #3e8e41
}

input[type="button"]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    font-family: monospace;
    font-weight: 500;
    z-index: 10;
}
.overlay p{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}
.shop{
    font-size: 16px;
    font-family: monospace;
    font-weight: 500;
}
body{
    background: hsl(60, 0%, 20%);
}
body, #wrapper{
    display: flex;
    flex-direction: row;
}

#margin-left{
    margin-left: 60px;
}
canvas{
    margin-right: 30px;
}
/* .pause{
    position: absolute;
    top:50px;
    left:50px;
    pointer-events: auto;
} */
#pauseMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 500px;
    height: 600px;
    padding: 30px;
    margin: 20px;
    border: 1px solid black;
    background: rgb(112, 27, 44);
    border-radius: 15%;
}

.music{
    display: none;
}
#pauseMenu input[type="button"]{
    font-size: 40px;
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
}



