* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 1em;
  justify-content: center;
}

body {
  justify-content: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
