#title {
    margin: auto;
    width: 200px;
    text-align: center;
    font-size: 70px;
    color: white;
    margin-right: 48%;
}

.container {
    text-align: center;
}

#canvas {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 8px 7px #575757;
    margin-top: 10px;
}

#options {
    background-color: rgba(49, 49, 49, 0.3);
    text-align: left;
    position: absolute;
    width: 300px;
    height: 700px;
    top: 10.5%;
    padding: 5px;
    left: 75.4%;
    color: white;
}

#info {
    background-color: rgba(49, 49, 49, 0.3);
    text-align: left;
    position: absolute;
    width: 82.6%;
    height: 30px;
    top: 10.5%;
    padding: 5px;
    left: 8.45%;
    color: white;
}

.infoP {
    display: inline-block;
    margin-right: 40px;
}

.optionInput {
    position: absolute;
    width: 62px;
    left: 120px;
}

.gButton {
    position: absolute;
    width: 70px;
    left: 120px;
    outline: none;
}

.optionHeader {
    text-align: center;
    margin: auto;
    width: 80%;
    margin: auto;
}

#universalOptions {
    text-align: left;
    margin: auto;
}

#lineBreak {
    margin: auto;
    margin-top: 30px;
    height: 5px;
    width: 90%;
    background-color: white;
}