@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("bakgrunn.png");
  background-repeat: repeat;
}

.main {
  background: #ccc;
  width: 400px;
  height: 177px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge {
  width: 96px;
  background: #e66357;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  left: 152px;
  top: -15px;
  text-align: center;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 30px;
  font-family: Orbitron;
  border-radius: 4px;
}

canvas {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
